{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'center:center.home' %}" class="brand-link">
    <img
      src="{% static 'center/dist/img/OnlineShopLogo.png' %}"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: .8"
    />
    <span class="brand-text font-weight-light">My Online Store</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="{% static 'center/dist/img/always_smile.jpg' %}"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a
          href="https://shehab-magdy.github.io/Shehab-Magdy-CV/"
          target="_blank"
          class="d-block"
          >Shehab Magdy</a
        >
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'center:admin_index' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'center:Category_List' %}" class="nav-link active">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Category
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'center:Product_List' %}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Product
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Categories List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="{% url 'center:admin_index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Categories Page</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Categories List Items</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <a href="{% url 'center:category_addnew' %}">
                  <button
                    type="button"
                    class="btn btn-block btn-success"
                    style="width: 150px"
                  >
                    Add New
                  </button>
                </a>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed table-striped table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>No. of Products</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
                {% for cat in categories %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ cat.name }}</td>
                  <td>{{ cat.prods }}</td>
                  <td>
                    <a href="{% url 'center:category_update' cat.id %}">
                      <button type="button" class="btn btn-primary">
                        Edit
                      </button>
                    </a>
                    <a href="{% url 'center:category_del' cat.id %}">
                      <button type="button" class="btn btn-danger">
                        Delete
                      </button>
                    </a>
                    <a href="{% url 'center:category.show' cat.id %}">
                      <button type="button" class="btn btn-info">
                        Details
                      </button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
{% endblock %}
