{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'center:center.home' %}" class="brand-link">
      <img src="{% static 'center/dist/img/OnlineShopLogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">My Online Store</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'center/dist/img/always_smile.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="https://shehab-magdy.github.io/Shehab-Magdy-CV/" target="_blank" class="d-block">Shehab Magdy</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'center:admin_index' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'center:Category_List' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Category
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'center:Product_List' %}" class="nav-link active">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Product
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product .... </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'center:admin_index' %}">Home</a></li>
              <li class="breadcrumb-item active">Product</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
  <!-- general form elements disabled -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Elements</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% if prod %}
                  <form method="Post" action="{% url 'center:product_update' prod.id %}" enctype="multipart/form-data" role="form">
                {% else %}
                  <form method="post" action="{% url 'center:product_addnew' %}" enctype="multipart/form-data">
                {% endif %}
                {% csrf_token %}  
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="prod_name" value="{{ prod.name }}" required placeholder="Enter ...">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" name="prod_price" value="{{ prod.price }}" required placeholder="Enter ...">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" name="prod_desc" value="{{ prod.description }}" required placeholder="Enter ...">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- select -->
                      <div class="form-group">
                        <label>Category</label>
                        <select name="prod_cat" class="form-control" required>
                          {% for cat in cats %}
                            {% if cat.id ==  prod.category.id %}
                              <option value="{{ cat.id }}" selected>{{ cat.name }}</option>
                              {% else %}
                              <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endif %}
                          {% endfor%}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="exampleInputFile">Image</label>
                    <div class="input-group">
                      <div class="col-sm-2">
                        {% if prod %}
                          <img src="{{ prod.photo.url }}" id="myImg" alt="{{ prod.name }}" class="img-thumbnail">
                        {% else %}
                          <img src="https://placehold.it/80x100" id="myImg" alt="Product Photo" class="img-thumbnail">
                        {% endif %}
                      </div>
                      <div class="custom-file">
                          <input type="file" id="exampleInputFile" accept="image/*" multiple class="custom-file-input float-left" name="prod_photo" required onchange="readURL(this);">
                          <label class="custom-file-label" for="exampleInputFile">Choose File...</label>
                      </div>
                    </div>
                  
                  <div class="card-footer">
                  </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!- - The Modal - ->
  <div id="myModal" style="display: none; position: fixed; z-index: 1; padding-top: 10px; left: 0; top: 0; width: 100%; height: 100%;" >
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  {% endblock %}
  