<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Oops 404 for Website Template for free | 404Pagefree.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'center/dist/css/404style.css' %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
  </head>
  <body>
    <div class="wrap">
      <div class="logo">
        <p>OOPS! - Could not Find it</p>
        <img src="{% static 'center/img/404.png' %}" />
        <div class="sub">
          <p><a href="{{request.META.HTTP_REFERER}}">Back </a></p>
        </div>
      </div>
    </div>
    <div class="footer">
      &copy;
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      Oops 404 . All Rights Reserved | Design by
      <a href="http://404Pagefree.com">404Pagefree</a>
    </div>
  </body>
</html>
